<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommandPort" value="2377" />
    <add key="ResultPort" value="2378"/>
    <add key="CommandHeader" value="7"/>
    <add key="ResultHeader" value="8"/>
    <add key="MessageChannel" value="2379"/>
    <add key="ProcessName" value="DeskConnect"/>
    <add key="LocalSystem" value="127.0.0.1"/>
    <add key="NotifierApp" value="DeskConnectMessageNotifier.exe"/>
    <add key="ErrorLog" value="ErrorLog.log"/>
    <add key="DeskConnectApplication" value="DeskConnect"/>
  </appSettings>
</configuration>